
{% assign current_nav = page.url | downcase | split: '/' %}
<!-- Static navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
	<a class="xoofx-logo navbar-brand" href="/"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarSupportedContent" class="collapse navbar-collapse">
	  <ul class="navbar-nav mr-auto">
		<li class='nav-item{% if current_nav[1] == 'index.html' %} active{% endif %}'><a class="nav-link" href="/">Home</a></li>
		<li class='nav-item{% if current_nav[1] == 'blog' %} active{% endif %}'><a class="nav-link" href="/blog">Blog</a></li>
		<li class='nav-item{% if current_nav[1] == 'projects' %} active{% endif %}'><a class="nav-link" href="/projects">Projects</a></li>
		</ul>
	  <ul class="navbar-nav navbar-right">
		<li class='nav-item{% if current_nav[1] == 'about' %} active{% endif %}'><a class="nav-link" href="/about">About</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>
