---
layout: default
---

<article class="page">
    {% if page.title_html %}
		{% assign title_html = page.title_html %}
    {% elsif page.title %}
		{% assign title_html = page.title %}
    {% endif %}
    {% if title_html %}
    <h1 class="title">{% if site.titlecase %}{{ title_html | titlecase }}{% else %}{{ title_html }}{% endif %}</h1>
    {% endif %}
    <div class="entry-content">{{ content }}</div>
</article>
{% if post.ghcommentid %}
<div id="gh-comments">
  <h2>Comments</h2>
  <div id="gh-comments-list"></div>
  <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none">Load more comments</a>
</div>
<script src="{{ "/scripts/github-comments.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script type="text/javascript">
  DoGithubComments({{ post.ghcommentid }});
</script>
{% endif %}