---
layout: default
single: true
---
{% include post_tags.html %}
<article class="post js-toc-content" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>
<div id="page-navigation"> 
        <div class="previous"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %} 
        </div>

        <div class="next"> 
        {% if page.next.url %} 
               <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %} 
        </div>
</div>

{% if page.ghcommentid %}
<div id="gh-comments">
  <h2>Comments</h2>
  <div id="gh-comments-list"></div>
  <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none">Load more comments</a>
</div>
<script src="{{ "/scripts/github-comments.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script type="text/javascript">
  DoGithubComments({{ page.ghcommentid }});
</script>
{% endif %}

